# Node
node_modules/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# Divers
.DS_Store
Thumbs.db
